body, html {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1rem;
  float: left;
  width: 100%;
}

h1 {
  text-align: center;
}

.c-50 {
  float: left;
  width: 50%;
}

.container {
    float: left;
    overflow: hidden;
    padding-left: 15px;
}

#ncspot .playing {
  color: var(--playing);
  background: var(--playing_bg);
}

#ncspot .highlight {
  color: var(--highlight);
  background: var(--highlight_bg);
}

#ncspot .playing.highlight {
  color: var(--playing_selected);
}

#ncspot {
  float: left;
  width: 100%;
  background: var(--background);
  color: var(--primary);
}

#ncspot #title {
  text-align: center;
  color: var(--title);
  display: none;
}

#ncspot p {
  padding: 0;
  margin: 0;
}

#ncspot #search {
  text-align: center;
  color: var(--title);
}

#ncspot #search p.input {
  float: left;
  text-align: left;
  width: 100%;
  background: var(--secondary);
  color: var(--background);
}

#ncspot #navigation {
  float: left;
  width: 100%;
}

#ncspot #navigation p {
  float: left;
  width: 20%;
  text-align: center;
  color: var(--primary);
}

#ncspot #navigation p.active {
  color: var(--highlight);
  background: var(--highlight_bg);
}

#ncspot #tracks {
  float: left;
  width: 100%;
  padding-bottom: 100px;
}

#ncspot #tracks .track {
  float: left;
  width: 100%;
}

#ncspot #tracks .track p.name {
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 85%;
  height: 1.2em;
  white-space: nowrap;
}

#ncspot #tracks .track p.info {
  float: right;
  width: 15%;
  text-align: right;
}

#ncspot #statusbar_progress {
  width: 100%;
  float: left;
  height: 3px;
  background: linear-gradient(90deg, var(--statusbar_progress) 50%, #565656 50%);
}

#ncspot #statusbar {
  float: left;
  width: 100%;
  margin-top: 6px;
  color: var(--statusbar);
  background: var(--statusbar_bg);
}

#ncspot #statusbar p.name {
  text-align: left;
  width: 65%;
  float: left;
  padding-left: 6px;
}

#ncspot #statusbar p.info {
  text-align: right;
  float: right;
  padding-right: 6px;
}

#ncspot #error {
  float: left;
  width: 100%;
  background: var(--error_bg);
  color: var(--error);
}

#ncspot #cmd {
  float: left;
  width: 100%;
  background: var(--cmdline_bg);
  color: var(--cmdline);
}

#info {
  float: left;
  width: 100%;
  font-family: sans-serif;
  margin-bottom: 20px;
}

textarea#configs {
  width: 320px;
  height: 300px;
  padding: 5px;
  font-size: 13px;
  margin-left: 20px;
}

#controls {
  float: left;
  width: 100%;
}

#controls .control {
  width: 20%;
  float: left;
}

code {
  background: #efefef;
  color: #1d1d1d;
  padding: 5px;
}

#meta {
  margin-top: 100px;
}

#meta p {
  color: #737373;
}

#meta a {
  color: #737373;
  text-decoration: underline;
}

.pcr-save {
    display: none !important;
}
